
    <footer style="background-color: #deded5; margin-top: 10%;">
    <div class="container p-1">
      <div class="row">
        <div class="col-lg-9 col-md-5 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Kontakt informacije:</h5>
          <table class="table" style="border: #deded5;">
            <tbody>
              <tr >
                <td style="border-bottom: black solid 1px;">Adresa:</td>
                <td style="border-bottom: black solid 1px;">Jovana Cvijica 12</td>
              </tr>
              <tr>
                <td style="width: 10%; border-bottom: black solid 1px;">Telefon:</td>
                <td style="width: 20%; border-bottom: black solid 1px;">021-456-789 <br> 065-789-654</td>
                <td ></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Radno vreme:</h5>
          <table class="table" style="color: #4f4f4f; border-color: #666;">
            <tbody>
              <tr>
                <td>Ponedeljak - Petak:</td>
                <td>8am - 7pm</td>
              </tr>
              <tr>
                <td>Vikend:</td>
                <td>8am - 1pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright: IT70/2020
    </div>
  </footer>