<div class="main-content">

    <div class="container" style="text-align: center;" >
        <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje artikla</h3>
        <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje artikla: {{data.nameOfArticle}}</h3>
        <h3 mat-dialog-title *ngIf="flag == 3">Brisanje artikla: {{data.nameOfArticle}}</h3>
        <h3 mat-dialog-title *ngIf="flag == 4">Informacije o artiklu: {{data.nameOfArticle}}</h3>
    <div class="row">
        <div>
            <img src="{{this.data.imageUrl}}" alt="Chair">
        </div>
        <form class="mat-dialog-content" #formControl="ngForm" >
            <div class="form">
                <mat-form-field >
                    <input matInput class="inputField" placeholder="Naziv artikla" name="nameOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.nameOfArticle" required/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput class="inputField" placeholder="Cena artikla" name="priceOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.priceOfArticle" required/>
                 </mat-form-field >
                 <mat-form-field *ngIf="data.discount != null || flag == 1 || flag == 2">
                    <input matInput class="inputField" placeholder="Popust %" name="discount" [disabled]="flag == 4" [(ngModel)]="this.data.discount"/> 
                 </mat-form-field >
                 <mat-form-field>
                    <input matInput class="inputField" placeholder="Broj dostupnih artikala" name="availableAmountOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.availableAmountOfArticle" required/>
                    
                </mat-form-field>

                <mat-form-field>
                    <input matInput class="inputField" placeholder="Garancija (godine)" name="warrantyLength" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.warrantyLength" required/>
                </mat-form-field>
               </div>
               
           <div class="form">
            <mat-form-field>
                <input matInput class="inputField" placeholder="Proizvodjac" name="manufacturerOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.manufacturerOfArticle" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput class="inputField" placeholder="Nosivost (kg)" name="carryingCapacity" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.carryingCapacity" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput class="inputField" placeholder="Boja" name="colorOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.colorOfArticle" required/>
            </mat-form-field>
           </div>
           <div class="form">
            <mat-form-field>
                <input matInput class="inputField" placeholder="Visina (cm)" name="heightOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.heightOfArticle" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput class="inputField" placeholder="Širina (cm)" name="widthOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.widthOfArticle" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput class="inputField" placeholder="Dužina (cm)" name="lengthOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.lengthOfArticle" required/>
            </mat-form-field>
           </div>

           <div class="form">
            <mat-form-field class="description">
                <textarea matInput class="inputField" rows="4" cols="50" placeholder="Opis" name="descriptionOfArticle" [disabled]="flag==3 || flag == 4" [(ngModel)]="this.data.descriptionOfArticle" required>
                </textarea>
            </mat-form-field>
           </div>
           <div class="form">
                <mat-form-field class="form-field input">
                    <mat-select [compareWith]="compare" placeholder="Brend" name="nameOfBrand" [(ngModel)]="data.articleBrand" [disabled]="flag==3 || flag == 4" required>
                        <mat-option *ngFor="let brend of articleBrands" [value]="brend">
                            {{brend.nameOfBrand}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field input">
                    <mat-select [compareWith]="compare1" placeholder="Tip" name="typeOfBrand" [(ngModel)]="data.articleType" [disabled]="flag==3 || flag == 4" required>
                        <mat-option *ngFor="let tip of articleTypes" [value]="tip">
                            {{tip.nameOfType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="flag != 4" class="form">
                
                    <input type="file" placeholder="Slika" name="imageUrl" (change)="onFileSelected($event)" required/>
                    <button (click)="upload()">Upload</button>
                
               </div>
        </form>
    </div>
        <div >
            <button matButton *ngIf="flag == 1" class="btn-save" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
            <button matButton *ngIf="flag == 2" class="btn-save" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
            <button matButton *ngIf="flag == 4" class="btn-save" mat-dialog-close="1" (click)="cancel()">Nazad</button>
            <button matButton *ngIf="flag != 4"class="btn-cancel" (click)="cancel()">Poništi</button>
        </div>
    </div>

</div>
