
.example-card {
    max-width: 400px;
    box-shadow: 5px 5px 5px gray;
    margin: 5px;
    text-align: center;
  }

  /* .example-card:hover {
    margin: 10px;
    
  } */
  
  .example-header-image {
    background-size: cover;
  }

  .title {
    text-align: center;
  }

  .img-size {
    height: 400px;
    width: 300px;

  }
  .menuTitle{
    font-style: italic;
    font-size: 50px;
  }


  .btn-arrow {
    color: transparent;
    display: block;
    margin: 30px;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background-color: rgba(black, .05);

    transition: all 150ms ease-out;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
            top: 0;
            left: 0;

        background-color: #606060;
        
        transition: all 150ms ease-out;
    }

    &::before {
        width: 75%;
        height: 25%;
    }

    &::after {
        width: 25%;
        height: 75%;
    }

    &:hover, &:focus {
        background-color: rgba(black, .1);
        
        &::before,
        &::after {
            background-color: #404040;
        }
    }

    &.btn-arrow-left,
    &.btn-arrow-right {
        &::before,
        &::after {
            top: 12.5%;
            left: 12.5%;
        }
    }

    &.btn-arrow-left {
        transform: rotate(-45deg);
    }

    &.btn-arrow-right {
        transform: rotate(135deg);
    }
}



/* ========================= */



html, body {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}


  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 3s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0.5;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 0.9;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }