<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <h1 style="text-align: center;">Korpa</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <a href="menu"><mat-icon >keyboard_backspace</mat-icon></a><h5 class="mb-3"> 
                  <a href="menu" class="text-body">Nastavi kupovinu</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Vaša korpa</p>
                  </div>
                </div>

                <div *ngFor="let items of orderItems">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="{{items.article.imageUrl}}"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{items.article.nameOfArticle}}</h5>
                            <p class="small mb-0">{{items.article.articleType.nameOfType}}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 80px;">
                            <h5 class="fw-normal mb-0">{{items.amountOfArticle}} kom</h5>
                          </div>
                          <div style="width: 100px;">
                            <h5 class="mb-0">{{items.article.priceOfArticle - 
                              (items.article.priceOfArticle * items.article.discount/100)}} rsd.</h5>
                          </div>
                          <button style="background-color: rgb(214, 142, 142); border-radius: 10px; border-color: rgb(147, 123, 123);" (click)="removeItem(items.article.articleId)"><mat-icon style="margin-bottom: 10px; color: aliceblue;">minimize</mat-icon></button>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
                

              </div>
              <div class="col-lg-5" *ngIf="isLoggedIn()">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Detalji kupca</h5>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>

                    <form class="mt-4">
                      <label class="form-label" for="typeName">Ime i prezime</label>
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <h5>{{currentUser.name}} {{currentUser.surname}}</h5>
                        
                      </div>
                      <label class="form-label" for="typeText">Adresa</label>
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <h5>{{currentUser.adress}} </h5>
                        
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div data-mdb-input-init class="form-outline form-white">
                            <label class="form-label" for="typeExp">Email</label>
                            <h5>{{currentUser.email}}</h5>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="typeText">Kontakt telefon</label>
                          <div data-mdb-input-init class="form-outline form-white">
                            <h5>{{currentUser.contactNumber}}</h5>
                            
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Ukupno pre popusta</p>
                      <p class="mb-2">{{total}} rsd.</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Ukupno sa popustom</p>
                      <p class="mb-2">{{totalWithDiscount}} rsd.</p>
                    </div>

                    <button  type="button" data-mdb-ripple-init class="btn btn-info btn-block btn-lg" (click)="checkout()">
                      <div class="d-flex justify-content-between">
                        <span>Nastavi na placanje <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>