<div class="container mat-elavation-z8">
    <div class="card-header card-header-danger col-md-4 tableKor">
      <h4 class="card-title" style="color: white;">Neobradjene porudžbine</h4>
      
    </div>
    
      <mat-table #table [dataSource]="dataSource" class="mat-cell">
 
        <ng-container matColumnDef="dateOfCreation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.dateOfCreation }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="customer"> 
          <mat-header-cell *matHeaderCellDef mat-sort-header>Kupac</mat-header-cell> 
          <mat-cell *matCellDef="let row">{{ row.customer.name }} {{row.customer.surname}}</mat-cell> 
        </ng-container>
 
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Zaposleni</mat-header-cell> 
          <mat-cell *matCellDef="let row">
                
                
            <div *ngIf="row.employee != null; else noEmployee">{{ row.employee.name }} {{ row.employee.surname}}</div>
            <ng-template #noEmployee> Niko nije preuzeo slanje</ng-template>
        </mat-cell> 
        </ng-container>
    
        <ng-container matColumnDef="totalBill">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Ukupan račun</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.totalBill }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="paid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plaćeno</mat-header-cell> 
          <mat-cell *matCellDef="let row">
                
                
            <div *ngIf=" row.payed == true; else noEmployee">{{row.timeOfPayment}}</div>
                <ng-template #noEmployee> Nije plaćeno</ng-template>
        </mat-cell> 
        </ng-container>
   
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
          <button *ngIf="isAdmin()" mat-icon-button class="delete-button" (click)="delete(row.orderId)">
            <i class="material-icons">delete</i>
        </button>

        <button *ngIf="row.employee == null" mat-icon-button class="take-button" (click)="takeOrder(row)">
            <i class="material-icons">group_add</i>
        </button>

        <button mat-icon-button class="take-button" routerLink="/order-details/{{row.orderId}}">
          <i class="material-icons">search</i>
      </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayedColumns" >
      </mat-row>
    </mat-table>



    <div class="card-header card-header-danger col-md-6 tableKor" style="margin-top: 50px;">
        <h4 class="card-title" style="color: white;">Gotove porudžbine</h4>
        
      </div>
      
        <mat-table #table [dataSource]="dataSourceDone" class="mat-cell">
       
          <ng-container matColumnDef="dateOfCreation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.dateOfCreation }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="customer"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header>Kupac</mat-header-cell> 
            <mat-cell *matCellDef="let row">{{ row.customer.name }} {{row.customer.surname}}</mat-cell> 
          </ng-container>
          <ng-container matColumnDef="employee"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header>Zaposleni</mat-header-cell> 
            <mat-cell *matCellDef="let row">
                
                
                <div *ngIf="row.employee != null; else noEmployee">{{ row.employee.name }} {{ row.employee.surname}}</div>
                <ng-template #noEmployee> Niko nije preuzeo slanje</ng-template>
            </mat-cell> 
            
          </ng-container>
     
          <ng-container matColumnDef="totalBill">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ukupan račun</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.totalBill }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Plaćeno</mat-header-cell> 
            <mat-cell *matCellDef="let row">
                  
                  
              <div *ngIf=" row.payed == true; else noEmployee">{{row.timeOfPayment}}</div>
                  <ng-template #noEmployee> Nije plaćeno</ng-template>
          </mat-cell> 
          </ng-container>
       
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
            <button *ngIf="isAdmin()" mat-icon-button class="delete-button" (click)="delete(row.orderId)">
              <i class="material-icons">delete</i>
          </button>
          <button mat-icon-button class="take-button" routerLink="/order-details/{{row.orderId}}">
            <i class="material-icons">search</i>
          </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsDone"></mat-header-row>
          <mat-row
          style="cursor: pointer;"
          *matRowDef="let row; columns: displayedColumnsDone" >
        </mat-row>
      </mat-table>
</div>